# `package.json` の `pacackageManager` で指定されている pnpm を利用するようにする
manage-package-manager-versions=true

# `@storybook/addon-essentials` 等でインストールされる `@storybook` のサブパッケージを hoist する
public-hoist-pattern[]=@storybook/*

